/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    /* Colors */
    --cc-v-d-m-: hsl(300, 43%, 22%); /* Very Dark Magenta */
    --cc-s-p-: hsl(333, 80%, 67%); /* Soft Pink */
    --cc-d-g-m-: hsl(303, 10%, 53%); /* Dark Grayish Magenta */
    --cc-l-g-m-: hsl(300, 24%, 96%); /* Light Grayish Magenta */
    --cc-w-: hsl(0, 0%, 100%); /* White */

    /* Font Family */
    --ff-s-r-400: 'Spartan', sans-serif; font-weight: 400; /* Regular 400 */
    --ff-s-m-500: 'Spartan', sans-serif; font-weight: 500; /* Medium 500 */
    --ff-s-b-700: 'Spartan', sans-serif; font-weight: 700; /* Bold 700 */
}

/* Responsive Design - Mobile 360x780 */

/* Responsive Design - Tablet 1024x1366 */

/* Responsive Design - Desktop 1920x1080 */

/* Responsive Design - Desktop 2560x1440 */
